body {
    font-family: 'Wix Madefor Display', sans-serif;
	color: #000 !important;
	font-size: 16px; 
    background-color: #F2F2F2;
}

a {
	background-color: transparent;
	color: #180e80;
	text-decoration: none;
}


* {
	margin: 0;
	padding: 0;
}
.fs-13 {
	font-size: 13px;
}.fs-12 {
	font-size: 12px;
}
.fs-10 {
	font-size: 10px;
}
.fs-14 {
	font-size: 14px;
}.fs-15 {
	font-size: 15px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-22 {
	font-size: 22px;
}

.fs-24 {
	font-size: 24px;
}

.fs-26 {
	font-size: 26px;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}
 
.white {
	color: #fff;
}
.red{
    color: #E72939;
}

.gray{
    color: #ACACAC;
}

.navbar-toggler:focus {
	box-shadow: unset;
}

/* header css start */
section.topBar {
    background-color: #1A1A1A;
    padding: 5px 0px;
}

/* header css end */

ul.logo-list li {
    list-style-type: none;
}
ul.logo-list {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}.logo-icon {
    max-height: 35px;
}img.logo {
    max-width: 215px;
}   




/* hero section css start here */
.internet p {
    line-height: 16px;
    padding-top: 4px;
}
.hero-heading {
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 35px;
}

section.hero {
    background-color: #F2F2F2;
}


.form-control {
    border-radius: 8px !important;
    border: 1px solid rgba(0, 0, 0, 0.16);
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 3px 0px rgba(0, 0, 0, 0.09), 0px 0px 16px 0px rgba(0, 0, 0, 0.05), 0px 0px 8px 0px rgba(0, 0, 0, 0.01), 0px 0px 5px 0px rgba(0, 0, 0, 0.00);
    color: #808080;
    font-weight: 600;
    padding: 15px;
}
.form-control::placeholder {    color: #808080 !important;}
.form-control:focus{
    color: #808080 !important;
    box-shadow: unset !important;
    border: 1px solid rgba(0, 0, 0, 0.16) !important;
}
.red-btn {
    background-color: #e72939;
    width: 100%;
    color: #fff;
    font-weight: 800;
}.btn {
    border-radius: 8px;
    padding: 15px;
}

img.search-icon {
    height: 20px;
    padding-right: 10px;
}.internet-icos {
    height: 35px;
}.internet {
    background-color: #fff;
    padding: 20px 0px;
}
.bottom-space {
    padding-bottom: 140px;
}
.black{
    color: #000;
}
.light-gray{
    color: #575757;
}
.hero-bg {
    background-image: url(../img/hero.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.lock-icons {
    height: 20px;
}

 .call-back .form-control{
    color: #000 !important;
}

 
form.call-back input::placeholder{
    color: #808080 !important;
}
.sound-icon {
    height: 15px;
}
/* hero section css end here */


/* speak directly */
section.speak {
    padding: 40px 0px;
    background: linear-gradient(154deg, #E72939 0%, #E9593D 100%);
}
.copyright p,a{
    color: #7E7E7E;
}section.copyright {
    background-color: #F2F2F2;
    padding: 30px 0px;
}
.zoom-icon {
    width: 15px;
    margin-left: 4px;
}a:hover {
    color: #1A1A1A;
}

select.form-select {
    border-radius: 8px !important;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(0, 0, 0, 0.10), 0px 0px 3px 0px rgba(0, 0, 0, 0.09), 0px 0px 16px 0px rgba(0, 0, 0, 0.05), 0px 0px 8px 0px rgba(0, 0, 0, 0.01), 0px 0px 5px 0px rgba(0, 0, 0, 0.00);
    color: #808080;
    font-weight: 600;
    padding: 15px;
    background-image: url(../img/form-select.svg) !important;
}

.form-select:focus {
    box-shadow: unset;    border: 1px solid rgba(0, 0, 0, 0.16);
}

.gray-btn {
    background-color: #BCBCBC !important;
    width: 100%;
    color: #fff;
    font-weight: 800;
}
.angle-right {
    height: 20px;
    padding-left: 10px;
}

/* speak directly end */



/* loader css  */
.circle-wrap {
    margin: auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    background-color: #D9D9D9 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #f2f2f2;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #000;
    position: absolute;
    z-index: 100;
    font-size: 40px;
    font-weight: 800;
}
  
  /* color animation */
  
  /* 3rd progress bar */
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background-color: #E72939;
}
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 1s;
    transform: rotate(180deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
/* loader css end  */

/* steps css stat */
.progress {
    background-color: #D9D9D9 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
}
.progress-bar {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background-color: #E72939;
    clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
}

 
  .radio-toolbar input[type="radio"] {
    display: none;
  }
  .radio-toolbar label {
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 8px;
    font-weight: 800;
    width: 100%;
    text-align: center;
}
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #333;
    color:#fff
  }
  
  .back-now {
    border: 1px solid #000;
    display: inline-block;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
}.back-now-img {
    height: 20px;
}
.form-wrap {
    max-width: 380px;
    margin: auto;
}

section.steps-area {
    padding-bottom: 250px;
}

.offer-box {
    position: relative;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    max-width: 350px;
    margin: auto;
    padding: 20px;
}span.big-price {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
}span.month {
    color: #ACACAC;
    font-weight: 800;
    font-size: 20px;
}img.se-logo {
    max-width: 210px;
}

ul.offer-list li::before {
    content: '';
    background-image: url(../img/check-mark.svg);
    background-size: contain;
    position: absolute;
    top: 1px;
    width: 25px;
    height: 25px;
    left: 0px;    background-repeat: no-repeat;
}
ul.offer-list li {
    list-style-type: none;
    position: relative;
    padding-left: 30px;
    color: #000;
    padding-bottom: 12px;
    font-size: 15px;
}

.form-wraps {
    max-width: 350px;
    margin: auto;
}
img.offers {
    position: absolute;
    top: -36px;
    right: -34px;
}.trust-review {
    max-width: 220px;
    margin: auto;
}
span.small-price {
    font-size: 36px;
    font-weight: 800;
    line-height: 60px;
}

 .help {
    position: relative;
    width: 20px;
    left: 5px;
    cursor: pointer;
}
 .show-on-hover {
    border-radius: 4px;
    background: #E6E6E6;
     
    font-size: 12px;
    padding: 8px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: 1;
    top: 26px;
    display: none;
 
}


.help:hover + .show-on-hover {
 
     
     display: block;
}

.number-box {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    width: 35px;
    height: 35px;
    background-color: #E72939;
    text-align: center;
    color: #fff;
    line-height: 35px;
}.max-350 {
    max-width: 350px;
}

.black-btn {
    width: 100%;
    color: #fff;
    font-weight: 800;
    background-color: #000;
}
.black-btn:hover {
     
    color: #fff;
    
}

.btn-gray-hover:hover {
    background-color: #BCBCBC;
    color:#fff !important;
} 

.btn-red-hover:hover{
    background-color: #e72939 !important;
    color: #fff !important;
}

.global-title {
    font-size: 28px;
}




/* steps css end */











/* mobile css start */

@media(max-width:768px){
    img.logo {
        max-width: 180px;
    }
    .logo-icon {
        max-height: 25px;
    }
    .internet-icos {
        height: 30px;
    }
    .internet .col-md-3 {
        flex: 0 0 auto;
        width: 33.33% !important;
    }
    .hero-heading {
        font-size: 35px;
        font-weight: 800;
        text-align: left !important;
    }
}

@media(max-width:450px){
    .logo-icon {
        max-height: 20px;
    }
.fs-18 {
    font-size: 16px;
}}


@media(max-width:450px){
.logo-icon {
    max-height: 18px;
}}
/* mobile css end */

